.MachinesProgress {
  width: 100%;
  background: transparent;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 11px;

  .progress {
    width: 8px;
    height: 16px;
    border-radius: 2px;
    background: hsla(0, 0%, 100%, .05);
    &.-active {
      background: hsl(28, 97%, 47%);
    }
  }
}