.button-close {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  height: 32px;

  /* identical to box height, or 143% */
  background: none;
  text-align: right;
  border: none;
  /* White/White 30 */

  color: rgba(255, 255, 255, 0.3);

  img {
    width: 20px;
    height: 20px;
  }
}

.modal-header {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: rgba(255, 255, 255, 0.05) !important;
  padding: 0;

  .container-header {
    padding: 20px 16px;
    align-items: center;
    justify-content: normal !important;
    background: rgba(255, 255, 255, 0.03) !important;

    .title {
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      /* identical to box height, or 143% */
      padding-right: 84px;
      text-align: center;

      color: #ffffff;
    }
  }
}

.modal-body {
  background-color: rgba(255, 255, 255, 0.05) !important;
  padding: 8px !important;
}

.modal-footer {
  padding: 16px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: none;
  background-color: rgba(255, 255, 255, 0.05) !important;
}

.input-info {
  width: 203px;
  height: 40px;

  background: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.004em;
  padding: 12px 8px;
  color: #ffffff;
}

.label-input {
  padding-bottom: 8px;
  padding-left: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.004em;
  color: rgba(255, 255, 255, 0.4);
}

.level-container {
  border-radius: 8px;
  margin: 0;
  min-height: 206px;
  padding: 16px 8px;
  background: rgba(255, 255, 255, 0.03) !important;
}

.title-body {
  padding: 8px 0 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.body-text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 24px;
}

.body-text-description {
  margin-left: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.4);
}

.dots {
  display: inline-block;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin: 3px 8px;
  background: rgba(255, 255, 255, 0.4);
}

.btn-custom {
  width: 203px;
  height: 48px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

.margin-left-30px {
  margin-left: 30px;
}

.error-test {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  letter-spacing: -0.004em;

  color: #de2216;
}

.color-error-red {
  color: #de2216 !important;
}

@media (max-width: 576px) {
  .margin-left-30px {
    margin-left: 0px;
  }
  .input-info {
    margin-bottom: 8px;
    width: 100%;
  }
  .btn-custom {
    margin-bottom: 8px;
    width: 100%;
  }
}
