.button-close {
  width: 40px;
  height: 40px;
}

.header-menu {
  padding: 16px 24px;
  background: #111111;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.004em;
  text-align: center;

  .back-arrow-wallet {
    color: rgba(255, 255, 255, 0.4);
  }

  .header-title {
    color: rgba(255, 255, 255, 1);
  }
}

.height-container-services {
  height: calc(100vh - 72px);
  background: #1a1a1a;

  padding: 24px;
  overflow: hidden;
  overflow-y: auto;
}

.color-grey {
  color: rgba(255, 255, 255, 0.4) !important;
}

.img-color-white {
  opacity: 0.4 !important;
}

.header-nav-services {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.004em;
  text-align: left;
  margin-bottom: 32px;
}

.other-title-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  text-transform: uppercase;
  margin: 8px 0;
  padding: 0 16px;
  color: rgba(255, 255, 255, 0.4) !important;
}
.item-nav-services:hover {
  .arrow-active {
    img {
      transition: all 0.4s ease-in;
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}
.arrow-active {
  img {
    overflow: hidden;
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
    width: 15px;
  }
}

.item-nav-services {
  padding: 12px 16px;
  display: flex;
  margin-bottom: 8px;
  border-radius: 8px;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);

  .img-icon {
    width: 24px;
    height: 24px;
    margin-right: 16px;

    opacity: 0.2;
  }
  .name-nav-services {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
    letter-spacing: -0.056px;
    color: rgba(255, 255, 255, 1);
  }
  .description-nav-services {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
  }
}
