.button-services {
  width: 40px;
  height: 32px;
  padding: 4px 8px 4px 8px;
  border-radius: 8px;

  display: flex;

  justify-content: center;
  align-items: center;
  /* White/White 10 */
  img {
    width: 16.5px;
    height: 16.5px;
  }
  background: #ffffff0d;

  border-radius: 8px;
}

.background {
  width: 100%;
  position: absolute;
  height: 100vh;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4px);
  z-index: 1032;
}

.dropdown-services {
  margin-left: 16px;
}
